.UserModificar {
    /* padding: 60px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* height: 90vh; */
}
.formModify {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.formModify .input_type2 {
    min-width: 230px;
}
.rol {
    width: 170px;
}
/* .cargando {
    margin: 200px;
} */
.UserUpdate__Form {
    margin-bottom: 40px;
    /* margin-top: 20px; */
}

.horario td {
    border: solid 1px black;
    width: 38px;
}

.open {
    background: var(--success);
}
.close {
    background: var(--terciary);
}
