
.addRecurso{
  display: flex;
  flex-direction: column;
  gap: 10px;
   margin: 10px;
}
.formAddRecurso{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.formAddRecurso input{
  width: 90vw;
}
.recusosActuales{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.controlsConteiner{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.modalEditResource-conteiner{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.151);
}
.modalEditResource{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--background);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.modalEditResource input{
  width: 80vw;
}
@media (min-width: 768px) {
  .recusosActuales{
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px,300px));
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 20px;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .recusosActuales .editable{
    max-width: 300px;
    width: 30vw;
  }
  .addRecurso{
    max-width: 1200px;
    margin: 0 auto;
  }
}