.NavigationBar {
    display: flex;
    background-color: var(--primary);
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.NavigationBar a{
    display: flex;
    align-items: center;
}
@media (min-width: 768px) {
    .NavigationBar{
        display: none;
    }
}