.cursoPage{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.curso_themes{
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
}
.listadoConocimientos{
  padding-left: 20px;
}
.temas{
  text-align: center;
  margin: 10px;
}
.retos__conteiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
}
.celebrate-conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.btnParty{
  width: 60px;
  height: 60px;
  font-size: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--white);
}
.btnParty img{
  width: 50px;
  height: 50px;
}
.btnParty:hover img{
  display: none;
}

.btnParty:hover::after{
  content: '🎉';
}
.partyText{
  color: rgb(235, 96, 216);
  -webkit-text-stroke: .23px black;
}
.cursoPage__instructions{
  text-align: justify;
}
@media (min-width: 768px) {
  .cursoPage{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .cursoPage__title{
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .cursoPage__instructions{
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .curso_themes{
    grid-row: 2/3;
    grid-column: 2/3;
    min-width: 20vw;
  }
  .cursoPage__retos{
    grid-row: 3/4;
    grid-column: 1/3;
  }
}