.desplegable {
    margin: 20px 0px;
}
.recomendacion {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.recomendacion__enlace {
    background-color: var(--background);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    max-width: 60vw;
    overflow: hidden;
}
.recomendacion__temas {
    width: 90%;
    text-align: center;
}
.recomendacion{
    width: 70vw;
}
.controles {
    border-radius: 10px 10px 0px 0px;
    width: fit-content;
    background-color: var(--white);
    display: flex;
    gap: 5px;
    padding: 3px;
}
/* .recomendacion-conteiner {
} */
.controles-conteiner {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.recomendacion__video{
    background-color: var(--background);
    width: 60%;
    max-width: 60vw;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.editable{
  border-radius: 10px 0px 10px 10px;
  width: unset;
}