.aviso {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 5px;
    margin: 5px;
    position: relative;
}
.aviso .icon{
    position: absolute;
    left: 85%;
}
.infoAviso{
    padding: 10px 18px;
}