.horario td {
    border: solid 1px black;
    width: 38px;
}

.open {
    background: var(--success);
}
.close {
    background: var(--terciary);
}

.modificable{
    cursor: pointer;
}
.dsk{
    display: none;
}
@media (min-width: 768px) {
    .mov{
        display: none;
    }
    .dsk{
        display: table-cell;
    }
}