.Home {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 60px 20px; */
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 10px;
    gap: 17px;
}
.mainText {
    text-align: center;
}
.actiIcon{
    display: none;
}
/* footer{
  margin: 0 auto;
} */
.footerImg {
    margin: 20px 10px 0px 10px;
    width: 90%;
    max-width: 800px;
}
.avisosBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* .curso-conteiner{
    z-index: 10;
} */

.examenAdvice{
    font-weight: bold !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
    cursor: pointer;
}

.btn_aviso{
    text-decoration: none;
}

@media (min-width: 768px) {
    .header__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__title--texts h1, .header__title--texts  p{
        text-align: left;
        margin: 10px;
        font-weight: 700;
    }
    .actiIcon{
        display: flex;
        width: 312px;
        height: 259px;
    }
    .btn_aviso{
        width: 100%;
    }
    
}