.Home {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 60px 20px; */
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 10px;
    gap: 17px;
}
.mainText {
    text-align: center;
}
/* footer{
  margin: 0 auto;
} */
.footerImg {
    margin: 20px 10px 0px 10px;
    width: 90%;
    max-width: 800px;
}
.avisosBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* .curso-conteiner{
    z-index: 10;
} */

.examenAdvice{
    font-weight: bold !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
    cursor: pointer;
}