.recursosList{
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.recurso{
  text-decoration: none;
}
.recursoButton{
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}

.recursoButton:hover{
  opacity: 0.8;
}
.editable:hover{
  opacity: 1;
  cursor: unset;
}
.icon-delete-resource{
  position: absolute;
  top: 0;
  right: 3px;
  bottom: 0;
  margin: auto;
}
.icon-edit-resource{
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 0;
  margin: auto;
}

@media (min-width: 768px) {
  .recursoButton{
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .recursosList{
    margin: 30px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,15rem));
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .icon-edit-resource, .icon-delete-resource{
    top: -165px;
  }

}