.addAviso{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.color{
  width: 150px;
}

.mensaje{
  resize: none;
  height: 70px;
  padding: 3px;
} 
.avisosList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}