.historialExamenes,
.gestionExamenes {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: center;
    gap: 20px;
}
.historialExamenes p,
.gestionExamenes p {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.IAprobacion {
    background-color: var(--success);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.estado {
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    text-align: center;
}
.result-button {
    text-decoration: none;
}
.pendiente {
    color: var(--alert);
    text-decoration: underline;
}
.aprobado {
    background-color: var(--success);
    color: var(--white);
}
.reprobado {
    background-color: var(--danger);
    color: var(--white);
}
.examenes__tr td {
    border: none;
    background-color: var(--background);
}
.next-exam{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
@media (min-width: 768px) {
    .historialExamenes{
        max-width: 1200px;
        margin: 0 auto;
    }
    .examenes__table {
        max-width: 1200px;
        min-width: 80%;
        margin: 0 auto;
    }
}
