.adminRecomendados{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.addrecomendacion{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
/* .addrecomendacion input{
  min-width: 200px;
} */
.addrecomendacion__form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  width: min-content;
}
.addrecomendacion__form__tipo{
  border: none;
}
.addrecomendacion__form__tipo__label__radioConteiner{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  
}
.addrecomendacion__form__tipo__label{
  font-weight: 400;
}
.addrecomendacion__form__tipo__radio{
  display: flex;
}

.addrecomendacion__form__color input{
  width: 100%;
}
.modal__editRecommended_conteiner{
  background: rgba(32,35,41,.8);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.modal__editRecommended{
  background-color: var(--background);
  padding: 20px;
  border-radius: 10px;
  max-width: 90vw;
}

.modal__editRecommended h3{
  margin: 10px;
}
.addrecomendacion__buttons{
  display: flex;
  justify-content: space-around;
}

select:not(:-internal-list-box) {
  overflow: hidden !important;
  /* max-width: 100px; */
}

.recomendacion-conteiner{
  margin: 10px 0;
}
